.sources {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 270px;
    overflow-y: auto;
    align-items: center;
    font: 300 1em 'Fira Sans', sans-serif;
    scrollbar-color:#02b3f8 #f5f7f8;
    scrollbar-width: auto;
}

.source__buttons-category{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-height: 230px;
    overflow-y: auto;
    scrollbar-color:#4b4b4b #f5f7f8;
    scrollbar-width: auto;
}

.source__item {
    display: flex;
    align-items: center;
    background: none;
    border-radius: 10px;
    border: 2px solid #02b3f8;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding-block: 1em;
    padding-inline: clamp(0.5em, 5.5vw, 2em);
    color: #02b3f8;
    transition: 0.25s;
    cursor: pointer;
}

.source__item:hover,
.source__item:focus {
    border-color: #d7f357;
    color: #d7f357;
    box-shadow: 0 0.5em 0.5em -0.4em #d7f357;
    transform: translateY(-0.25em);
}

.source__item-name {
    font-weight: 400;
    white-space: nowrap;
}

.button_category{
    margin-right: 15px;
    color: white;
    border: 2px solid white;
}

.button_category-title{
    font-size: 24px;
}

.button_category_active{
    border-color: #d7f357;
    color: #d7f357;
    box-shadow: 0 0.5em 0.5em -0.4em #d7f357;
    transform: translateY(-0.25em);
}

@media(max-width: 500px){
    .sources{
        height: 200px;
    }
    .source__buttons-category{
        height: 150px;
    }
}
