body {
    color: #fff;
    background: #17181c;
    font-family: sans-serif;
}

header {
    display: flex;
    align-items: center;
    padding: 10px 30px;
}

header h1 {
    color:#f7f8f0;
    font-size: 40px;
    font-weight: 800;
    margin-right: 30px;
    text-shadow: 2px 2px 2px #02b3f8;
}

.header__img{
    width: 100px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(./assets/1646940594_3-kartinkin-net-p-gazeti-kartinki-3-Photoroom.png-Photoroom.png);
}

.title-category{
    text-align: center;
    font-size: 32px;
    text-shadow: 2px 2px 2px #02b3f8;
}

footer {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 15px;
}
footer .copyright {
    font-size: 14px;
    color: #f3f1f1;
    text-align: center;
}
footer .copyright a {
    color: #f5f0f0;
}
footer .copyright a:hover {
    color: #fcfafa;
    text-shadow: 2px 2px 2px #02b3f8;
}
footer .copyright:before {
    content: '©';
}

.footer__title_year-and-link{
    display: flex;
    align-items: center;
    margin: 0 20px;
}

.footer__title_year{
    font-size: 20px;
    margin-right: 30px;
}

.footer__logoSchool_link{
    width: 90px;
    height: 40px;
    background-color: #f8f5f5;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(./assets/rs_school_js.svg);
    border-radius: 5px;
}

.footer__github__img{
    width: 60px;
    height: 60px;
    background-color: #f1efef;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(./assets/github-6980894_1280.png);
    border-radius: 5px;
}

.footer__logoSchool_link:hover,
.footer__github__img:hover{
    box-shadow: 2px 2px 2px 2px #02b3f8;
}

@media(max-width: 500px){
    header{
        justify-content: space-between;
        padding: 20px;
    }
    header h1{
        font-size: 32px;
        margin-right: 0px;
    }
    .header__img{
        width: 70px;
        height: 70px;
    }
    .title-category{
        font-size: 28px;
    }
}

@media(max-width: 400px){
    header h1{
        font-size: 28px;
    }
    .header__img{
        width: 60px;
        height: 60px;
    }
    .title-category{
        font-size: 24px;
    }
}
