html{
    scroll-behavior: smooth;
}

*{
    padding: 0;
    box-sizing: border-box; 
    margin: 0 ;
}

.body{
    position: relative;
    background-color: #E1D4C9;
}

.body__wrapper{
    max-width: 1440px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 16px 40px 40px 40px;
    margin: 0 auto;
}

.header{
    width: 100%;
    max-width: 1440px;
}

.header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo{
    margin-top: 4px;
    cursor: pointer;
    margin-right: 30px;
}

.header__nav-plus-button{
    max-width: 893px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav__list{
    display: flex;
    justify-content: space-between;
    gap: 40px;
    list-style: none;
}

.nav__item{
    position: relative;
    text-decoration: none;
    color:#403F3D;
    font: normal 600 16px/155% Inter;
}

.nav__item::after{
    content: "";
    position: absolute;
    left: 50%;
    bottom: -4px;
    width: 0;
    height: 2px;
    background-color: #403F3D;
    transition: width 0.5s ease-out;
    transform: translateX(-50%);
}

.header__button-menu{
    display: flex;
    align-items: end;
    color:#403F3D;
    gap: 8px;
    font: normal 600 16px/16px Inter;
    margin-bottom: 5px;
    padding-bottom: 3px;
}

.header__link-onMenu{
    text-decoration: none;
}

.header__button-menuBurger{
    width: 44px;
    height: 44px;
    display: none;
    position: absolute;
    top: 28px;
    right: 40px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;
    border-radius: 100%;
    border: 1px solid #665F55;
    cursor: pointer;
    z-index: 7;
}

.button-menuBurger__line{
    width: 18px;
    height: 2px;
    display: inline-block;
    background-color:#403F3D;
    transition: all 0.5s;
}

.enjoy{
    max-width: 1360px;
    height: auto;
    display: flex;
    background-image: url(image/imagesIndex/EnjoyBackground.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 40px;
    margin: 20px auto;
}

.enjoy__container{
    width: 100%;
    padding: 100px;
}

.infoBlock{
    width: 530px;
    height: 444px;
    display: flex;
    flex-direction: column;
    align-self: stretch;
    gap: 40px;
}

.infoBlock__title>span{
    font: italic 600 72px/105% Inter;
    color: #B0907A;
}

.infoBlock__title{
    font: normal 600 72px/105% Inter;
    color: #E1D4C9;
}

.infoBlock__offer{
    font: normal 400 16px/24px Inter;
    color: #E1D4C9;
}

.infoBlock__link-onMenu{
    text-decoration: none;
    width: 200px;
}

.infoBlock__button-menu{
    width: 200px;
    height: 64px;
    position: relative;
    text-align: center;
    background-color: #E1D4C9;;
    color:#403F3D;
    font: normal 600 16px/16px Inter;
    border-radius: 100px;
    border: 1px solid #E1D4C9;;
    padding: 23px 78px;
    cursor: pointer;
    transition: 0.5s;
}

.infoBlock__button-menu__svg{
    position: absolute;
    right: 63px;
    top: 20px;
    opacity: 0;
    transition: 0.5s;
}

.favoriteCoffee{
    max-width: 1360px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 40px;
    padding-top: 80px;
    padding-left: 5px;
    padding-right: 5px;
}

.favoriteCoffee__title>span{
    color: #B0907A;
    font: italic 600 60px/125% Inter;
}

.favoriteCoffee__title{
    color: #403F3D;
    font: normal 600 60px/125% Inter;
}

.slider{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.slider__arron__container{
    background-color: #E1D4C9;
    padding: 16px;
    border: 1px solid #665F55;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    transition: all 0.5s;
    cursor: pointer;
}

.slider__wrapper{
    max-width: 1620px;
    width: 100%;
    display: flex;
    gap: 60px;
}

.slider__window{
    max-width: 490px;
    width: 100%;
    overflow: hidden;
}

.slider__item{
    max-width: 480px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.slider__item__img{
    max-width: 480px;
    max-height: 480px;
}

.slider__item__title{
    width: 100%;
    color: #403F3D;
    font: normal 600 24px/125% Inter;
    padding-top: 18px;
}

.slider__item__offer{
    color: #403F3D;
    font: normal 400 16px/150% Inter;
    margin: 0 auto;
    padding-top: 15px;
}

.slider__item__price{
    color: #403F3D;
    font: normal 600 24px/125% Inter;
    padding-top: 16px;
}

.favoriteCoffee__slider__controls{
    display: inline-flex;
    gap: 12px;
    margin: 0 auto;
}

.control{
    display: flex;
    width: 40px;
    height: 4px;
    background-color:#C1B6AD;
    border-radius: 100px;
}

.control-right,
.control-center,
.control-left{
    display: inline-flex;
    height: 4px;
    border-radius: 100px;
    background-color: #665F55;
    transition-duration: 0.8s;
}

.about{
    max-width: 1360px;
    padding-top: 100px;
}

.about__title>span{
   color:#B0907A;
   font: italic 600 60px/125% Inter;
}

.about__title{
    color:#403F3D;
    font: normal 600 60px/125% Inter;
}

.about__image__containers{
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-top: 40px;
}

.about__image__container-left,
.about__image__container-right{
    width: 48.6%;
    height: 1060px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.about__image{
    max-width: 660px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    transition: all 0.5s;
    overflow: hidden;
}

.image-big{
    max-height: 590px;
}

.image-small{
    max-height: 430px;
}

.image1,
.image2,
.image3,
.image4{
    transform: scale(1);
    transition: all 0.5s;
}

.mobileApp{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;
}

.mobileApp__context{
    max-width: 630px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.mobileApp__context__title>span{
    color: #B0907A;
    font: italic 600 60px/125% Inter;
}

.mobileApp__context__title{
    color:#403F3D;
    font: normal 600 60px/125% Inter;
}

.mobileApp__context__offer{
    color: #403F3D;
    font: normal 400 16px/150% Inter;
}

.link-with-stub{
    text-decoration: none;
}

.mobileApp__context__buttons{
    display: flex;
    gap: 20px;
}

.content__button{
    width: 200px;
    height: 64px;
    border-radius: 100px;
    border: 1px solid #665F55;
    padding: 12px 20px;
    display: flex;
    gap: 8px;
    background-color:#E1D4C9;
    cursor: pointer;
    transition: all 0.5s;
}

.button__context__offer{
    text-align: left;
    color:#403F3D;
    font: normal 600 10px/130% Inter;
}

.button__context__offer>span{
    font: normal 600 16px/150% Inter;
}

.footer{
    max-width: 1360px;
    width: 100%;
    display: flex;
    gap: 68px;
    background-color:#665F55;
    padding: 100px;
    border-radius: 40px;
    margin-top: 100px;
}

.left-side__offer{
    max-width: 530px;
    color:#E1D4C9;
    font: normal 600 60px/125% Inter;
}
.left-side__offer > span{
    color:#B0907A;
    font-style: italic;
}

.left-side__buttons-socialMedia{
    display: flex;
    gap: 12px;
    margin-top: 40px;
}

.button-socialMedia__container{
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    border: 1px solid #E1D4C9;
    cursor: pointer;
    transition: all 0.5s;
}

.right-side{
    padding: 33px;
}

.right-side__title{
    color:#E1D4C9;
    font: normal 600 24px/125% Inter;
}

.list-contacts{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 37px;
    list-style: none;
}

.list-contacts__item__link,
.list-contacts__item__schedule{
    width: max-content;
    position: relative;
    display: flex;
    justify-content: flex-start;
    gap: 8px;
    color: #E1D4C9;
    font: normal 600 16px/150% Inter;
    text-decoration: none;
}


.list-contacts__item__link::before{
    content: "";
    position: absolute;
    left: 50%;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: #E1D4C9;
    transition: width 0.5s ease-out;
    transform: translateX(-50%);
}

/* menu */
.header__link-onHome{
    text-decoration: none;
}

.header__button-menu-menu{
    margin-top: 5px;
    padding-bottom: 6px;
    border-bottom: 2px solid #403F3D; 
}

.nav-menu{
    margin-bottom: 3px;
}

.main-menu{
    width: 100%;
    text-align: center;
    margin: 0 auto;
    margin-top: 15px;
}

.menu__offer__text{
    max-width: 800px;
    color:#403F3D;
    font: normal 600 60px/125% Inter;
    margin: 0 auto;
}

.menu__offer__text > span{
    color:#B0907A;
    font-style: italic;
}

.menu__offer__buttons__container{
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 40px;
}

.menu__offer__button{
    height: 46px;
    color:#403F3D;
    font: normal 600 16px/150% Inter;
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: #E1D4C9;
    border: 1px solid #C1B6AD;
    border-radius: 100px;
    padding: 8px;
    cursor: pointer;
    transition: all 0.5s;
}

.menu__offer__button__container-svg{
    width: 30px;
    height: 30px;
    padding: 3px 7px;
    border-radius: 100%;
    background-color: #C1B6AD;
}

.menu__offer__button_active{
    background-color:#665F55;
    border-color: #665F55;
    color:#E1D4C9;
    outline: none;
    cursor: default;
}

.menu__offer__button_active > span{
    background-color:#E1D4C9;
}

.menu__offer__button__svg{
    width: 17px;
    height: 24px;
}

.button__coffee{
    width: 115px;
}

.button-tea{
    width: 90px;
}

.button-deserts{
    width: 124px;
}

.menu__product-cards__wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin-top: 40px;
    opacity: 0; 
    transition: opacity 1s; 
    visibility: visible;
}

.product-card__container{
    max-width: 310px;
    width: 100%;
    height: 507px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 40px;
    border: 1px solid #C1B6AD;
    text-align: left;
    cursor: pointer;
}

.product__image{
    width: 100%;
    height: 313px;
    background-size: calc(110%);
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 40px;
    transition: 0.5s;
    background-image: none;
}

.product__description{
    height: 197px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px 19px 19px 19px;
}

.product__description__name{
    color: #403F3D;
    font: normal 400 16px/150% Inter;
}

.product__description__name-title{
    font: normal 600 24px/20px Inter;
}

.product__description__name-offer{
    margin-top: 17px;
}

.product__description__price{
    color: #403F3D;
    font: normal 600 24px/125% Inter;
}

.menu__offer__button-updates{
    display: none;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color: #E1D4C9;
    border: 1px solid #665F55;
    margin-top: 40px;
    cursor: pointer;
}

.left {
    transform: translateX(0);
    transition-duration: 1.5s;
}

.center {
    transform: translateX(-110%);
    transition-duration: 1.5s;
}

.right {
    transform: translateX(-220%);
    transition-duration: 1.5s;
}
.rotate-top{
    position: absolute;
    top: 20px;
    rotate: 45deg;
    transition: all 1s;
}

.rotate-bottom{
    rotate: -45deg;
    transition: all 0.8s;
}

.burger__open{
    display: flex;
    right: 0;
    transition: all 0.8s;
    overflow: scroll;
}

.overflow{
    overflow: hidden;
}

.modal__wrapper{
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(64, 63, 61, 0.80);
    z-index: 0;
}

.modal-product{
    position: absolute;
    top: 46.9vh;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 800px;
    width: 100%;
    height: auto;
    display: none;
    justify-content: space-between;
    background-color: #E1D4C9;
    color: #403F3D;
    padding: 16px;
    border-radius: 40px;
    z-index: 15;
}

.modal-product__container-image{
    max-width: 310px;
    width: 100%;
    height: 310px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    overflow: hidden;
}

.modal-product__image{
    transform: scale(1);
    transition: all 0.5s;
}

.modal-product__description{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 20px;
}

.modal-product__title{
    font: normal 600 24px/125% Inter;
}

.modal-product__offer{
    display: inline-flex;
    font: normal 400 16px/150% Inter;
    margin-bottom: 12px;
}

.modal-product__size{
    font: normal 400 16px/150% Inter;
}

.additives{
    margin-top: 10px;
}

.additives__buttons__container,
.size__buttons__container{
    padding-top: 7px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.additives__button,
.size__button{
    max-width: 117px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9px;
    border-radius: 100px;
    border: 1px solid #C1B6AD;
    padding: 8px 14px 8px 7px;
    background-color: #E1D4C9;
    font: normal 600 16px/150% Inter;
    cursor: pointer;
}

.additives__button{
    margin-top: 2px;
    max-width: 141px;
}

.additives__button__circle,
.size__button__circle{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 1px solid #C1B6AD;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #C1B6AD;
}

.modal__button_active{
    color: #E1D4C9;
    background-color: #665F55;
    outline: none;
}

.button__s:disabled,
.button__m:disabled,
.button__l:disabled{
    cursor: default;
}

.modal__button_active .size__button__circle,
.modal__button_active .additives__button__circle{
    background-color:#E1D4C9;
    color: #665F55;
}

.modal-product__total-sum{
    display: flex;
    justify-content: space-between;
    font: normal 600 24px/125% Inter;
    margin-top: 10px;
}

.modal-product__info{
    display: inline-flex;
    align-items: flex-start;
    gap: 8px;
    font: normal 600 10px/140% Inter;
    padding: 11px 0;
    border-top: 1px solid #C1B6AD;
    margin-top: 10px;
}

.modal-product__button-close{
    width: 100%;
    height: 44px;
    font: normal 600 16px/150% Inter;
    background-color: #E1D4C9;
    border-radius: 100px;
    border: 1px solid #665F55;
    margin-top: 10px;
    cursor: pointer;
}

.modal__open{
    display: flex;
}

@media(hover:none) {
    .infoBlock__button-menu{
        padding-left: 53px;
    }

    .infoBlock__button-menu__svg{
        opacity: 1;
    }
}

@media(hover: hover) and (pointer: fine){  
    .nav__item:hover::after{
        width: 100%;
    }
    
    .infoBlock__button-menu:hover{
        padding-left: 53px;
    }

    .infoBlock__button-menu:hover .infoBlock__button-menu__svg{
        opacity: 1;
    }
   
    .slider__arron__container:hover{
        background-color: #665F55;
        transition: all 0.5s;
    }

    .slider__arron__container:hover .slider__arron-right{
        stroke: #E1D4C9;
        transition: all 0.5s;
    }

    .slider__arron__container:hover .slider__arron-left{
        stroke: #E1D4C9;
        transition: all 0.5s;
    }
    
    .about__image:hover .image1,
    .about__image:hover .image2,
    .about__image:hover .image3,
    .about__image:hover .image4{
        transform: scale(0.9);
        transition: all 0.5s;
    }
    
    .content__button:hover{
        background-color:#665F55;
    }

    .content__button:hover .button__icon{
        fill: #E1D4C9;
    }

    .content__button:hover .button__context__offer{
        color:#E1D4C9;
    }
    
    .button-socialMedia__container:hover{
        border-color: none;
        background-color:#E1D4C9;
    }

    .button-socialMedia__container:hover .button-socialMedia__svg{
        stroke: #403F3D;
    }

    .list-contacts__item__link:hover::before{
        width: 100%;
        cursor: pointer;
    }

    .menu__offer__button:hover{
        background-color:#665F55;
        border-color: #665F55;
        color:#E1D4C9;
        transition: all 0.5s;
    }

    .menu__offer__button:hover span{
        background-color: #E1D4C9;
        transition: all 0.5s;
    }
    
    .product-card__container:hover .product__image{
        background-size: calc(101%);
        transition: 0,5s;
    }
    .menu__offer__button-updates:hover{
        background-color:#665F55 ;
    }

    .size__button:hover,
    .additives__button:hover{
        color: #E1D4C9;
        background-color: #665F55;
        outline: none;
    }
    
    .size__button:hover .size__button__circle,
    .additives__button:hover .additives__button__circle{
        background-color:#E1D4C9;
        color: #665F55;
    }

    .modal-product__button-close:hover{
        background-color: #665F55;
        color: #E1D4C9;
    }

    .modal-product__image:hover{
        transform: scale(0.91);
        transition: all 0.5s;
    }
}


@media(max-width: 1100px){
    .about__image__containers{
        margin-right: 15px;
    }

    .mobileApp{
        flex-direction: column;
        align-items: flex-start;
        gap: 100px;
    }

    .mobileApp__context{
        max-width: 688px;
    }

    .mobileApp__image{
        margin: auto;
    }
}

@media(max-width: 820px){
    .footer{
        flex-direction: column;
        align-items: flex-start;
        padding: 100px 60px 71px;
        gap: 70px;
    }
    .right-side{
        padding-left: 0;
        padding-top: 31px;
    }
    .right-side__title{
        padding-bottom: 2px;
    }
    .modal-product{
        max-width: 688px;
        width: 100%;
    }
    .modal-product__description{
        width: 50%;
        padding-left: 2px;
    }
}

@media(max-width: 768px){
    .body__wrapper{
        position: relative;
        overflow-x: hidden;
    }
    
    .header__nav-plus-button{
        position: absolute;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100vw;
        height: 95vh;
        top: 75px;
        right: -768px;
        gap: 100px;
        padding: 85px 40px;
        transition: all 1s;
        z-index: 2;
        background-color: #E1D4C9;
    }
    .nav__list{
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 60px;
        z-index: 2;
    }
    .header__button-menu-menu,
    .nav__item{
        font: normal 600 32px/125% Inter;
    }

    .header__button-menu,
    .button-menuInHeader{
        gap: 15px;
    }
    .header__button-menu__icon-cup{
        width: 40px;
        height: 40px;
    }
    .header__button-menuBurger{
        display: flex;
    }
    .enjoy__container{
        padding-left: 60px;
    }
    .favoriteCoffee{
        padding-left: 0;
        padding-right: 0;
    }
    .about__image__containers{
        flex-direction: column;
        align-items: center;
        height: 1220px;
        margin-right: 0;
    }
    .about__image__container-left,
    .about__image__container-right{
        width: 100%;
        gap: 0;
    }
    .image-big{
        max-width: 726px;
        width: 100%;
    }
    .image2,
    .image3{
        display: none;
    }
    .modal-product__container-image{
        width: 100%;
    
    }
    .additives__buttons__container{
        max-width: 280px;
    }
    .size__buttons__container{
        max-width: 326px;
    }
    .menu__offer__button-updates{
        display: block;
        margin: 40px auto 0;
    }
    .card__none{
        display: none;
    }
}

@media(max-width: 690px){
    .infoBlock__title{
        font-size: 68px;
    }
    .infoBlock__title>span{
        font-size: 68px;
    }
    .slider__wrapper{
        gap: 7.5vw;
    }
    .enjoy__container{
        padding: 60px 30px;
    }
    .mobileApp__image{
       width: 100%;
       height: auto;
    }
    .modal-product{
        max-width: 342px;
        padding-top: 0px;
    }
    .modal-product__description{
        width: 100%;  
    }
    .modal-product__container-image{
        display: none;
    }
    .modal-product__title{
        margin-top: 16px;
    }
}

@media(max-width: 645px){
    .body__wrapper{
        padding: 16px 16px 40px 16px;
    }
    .content__buttons{
        flex-direction: column;
    }
    .infoBlock{
        width: 100%;
    }
    .infoBlock__title{
        font-size: 42px;
        line-height: 115%;
    }
    .infoBlock__title>span{
        font-size: 42px;
        line-height: 115%;
    }
    .about__title,
    .left-side__offer,
    .menu__offer__text,
    .favoriteCoffee__title,
    .mobileApp__context__title{
        font-size: 32px;
    }
    .about__title>span,
    .left-side__offer>span,
    .menu__offer__text.span,
    .favoriteCoffee__title>span,
    .mobileApp__context__title>span{
        font-size: 32px;
    }
}

@media(max-width: 390px){
    .enjoy__container{
        padding: 60px 16px 48px;
    }
    .slider__wrapper{
        width: 100%;
        gap: 9vw;
    }
    .slider__item__img{
        width: 348px;
    }
    .slider__item__title{
        padding-top: 20px;
    }
    .slider__arron__container{
        display: none;
    }
    .mobileApp{
        gap: 40px;
    }
    .footer{
        padding: 60px 16px 31px;
        gap: 10px;
    }
    .main-menu{
        margin-top: 17px;
    }
    .menu__offer__buttons__container{
        gap: 8px;
    }
    .menu__product-cards__wrapper{
        margin-top: 39px;
    }
    .product-card__container{
        height: 506px;
    }
}
