.main-page-main {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  font-size: 28px;
  font-weight: 600;
  border: 3px solid black;
  border-radius: 10px;
  width: 100%;
  height: 70vh;
  margin: 0.5rem 0;
  background-image: url(/src/assets/backgroundBody.jpg);
  background-repeat: no-repeat;
  background-position: top -85px left;
}

.wrapper-user-list {
  width: 40%;
  height: 100%;
  padding: 1rem 2rem;
  font-size: 28px;
  font-weight: 600;
  border: 3px solid black;
  border-radius: 10px;
  backdrop-filter: blur(10px);
}

.list-users {
  padding: 1rem 1.5rem;
}

.input-search{
  width: 100%;
  height: 2.5rem;
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  background: rgb(89, 171, 238);
  outline: none;
}

.input-search::placeholder {
  opacity: 0.5;
}

.item-list{
  padding: 0.3rem;
  color: red;
  font-size: 24px;
  letter-spacing: 1px;
  cursor: pointer;
}

.item-list-name-user{
  color: black;
}

.wrapper-message-and-input{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
  width: 60%;
  height: 100%;
  padding: 1rem;
  font-size: 28px;
  font-weight: 600;
  border: 3px solid black;
  border-radius: 10px;
  backdrop-filter: blur(10px);
}

.header-wrapper-message {
  display: flex;
  align-items: end;
  width: 100%;
  justify-content: space-between;
  height: 3rem;
  border-bottom: 2px solid black;
}

.titleStatus-header-wrapper{
  color: red;
}

.wrapper-messages{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: end;
  height: 100%;
  padding-right: 1rem;
  overflow-y: auto;
  scrollbar-color: black rgb(89, 171, 238);
  scrollbar-width: thin;
  scroll-behavior: smooth;
}

.wrapper-message-start {
  justify-content: center;
  align-items: center;
  opacity: 0.5;
}

.message-interlocutor,
.message-user {
  display: inline-flex;
  flex-direction: column;
  text-align: right;
  max-width: 70%;
  border: 3px solid black;
  border-radius: 5px;
  font-size: 20px;
  background-color: rgb(89, 171, 238);
}

.message-interlocutor {
  text-align: left;
  margin-right: auto;
}

.message-user-name {
  padding: 0.2rem 0.5rem;
  font-size: 16px;
  background-color:  rgb(147, 172, 240);
}

.message-text {
  display: block;
  padding: 0.5rem;
  border-left: 5px solid  rgb(147, 172, 240);
  border-right: 5px solid  rgb(147, 172, 240);
  word-wrap: break-word;
}

.message-data {
  padding: 0.2rem 0.5rem;
  font-size: 16px;
  background-color:  rgb(147, 172, 240);
}
