.main-page-main {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  font-size: 28px;
  font-weight: 600;
  border: 3px solid black;
  border-radius: 10px;
  width: 100%;
  height: 90%;
  margin: 0.5rem 0;
  background-image: url(/src/assets/backgroundBody.jpg);
  background-repeat: no-repeat;
  background-position: top -85px left;
}

.wrapper-user-list {
  width: 40%;
  height: 100%;
  padding: 1rem 2rem;
  font-size: 28px;
  font-weight: 600;
  border: 3px solid black;
  border-radius: 10px;
  backdrop-filter: blur(10px);
}

.list-users {
  padding: 1rem 1.5rem;
}

.input-search{
  width: 100%;
  height: 2.5rem;
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  background: rgb(89, 171, 238);
  outline: none;
}

.input-search::placeholder {
  opacity: 0.5;
}

.item-list{
  padding: 0.3rem;
  color: red;
  font-size: 24px;
  letter-spacing: 1px;
  cursor: pointer;
}

.item-list-name-user{
  color: black;
}

.wrapper-message-and-input{
  width: 60%;
  height: 100%;
  padding: 2rem;
  padding-top: 1rem;
  font-size: 28px;
  font-weight: 600;
  border: 3px solid black;
  border-radius: 10px;
  backdrop-filter: blur(10px);
}

.header-wrapper-message {
  display: flex;
  align-items: end;
  justify-content: space-between;
  height: 3rem;
  border-bottom: 2px solid black;
}

.titleStatus-header-wrapper{
  color: red;
}