    # Ignore artifacts:
    build
    dist
    coverage

    # Ignore all HTML files:
    *.html

    .gitignore
    .prettierignore
    webpack.config.js
    webpack.dev.config.js
    webpack.prod.config.js