.header-main-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  font-size: 28px;
  font-weight: 600;
  border: 3px solid black;
  border-radius: 10px;
  background-image: url(/src/assets/backgroundBody.jpg);
}

.header-title {
  padding-top: 0.5rem;
  font-size: 28px;
  font-weight: 600;
}

.header-btn-exit {
  width: 6rem;
  height: 2rem;
  border: 3px solid black;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 600;
  background-color: rgb(147, 172, 240);
  outline: none;
  cursor: pointer;
}

.header-btn-exit:hover {
  font-size: 17px;
  border: 2px solid black;
}

.header-bth-info {
  width: 5rem;
  height: 2rem;
  padding: 0.2rem;
  border-radius: 10px;
  border: 3px solid black;
  font-size: 20px;
  font-weight: 600;
  background-color: rgb(89, 171, 238);
  outline: none;
  cursor: pointer;
}

@media(max-width: 610px){
  .header-main-page{
    padding: 0.8rem;
  }
  .header-title {
    text-align: center;
    padding-top: 0.4rem;
    font-size: 24px;
    font-weight: 600;
  }
  .header-name-app {
    margin-right: 10px;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
  }
  .header-bth-info {
    margin-right: 10px;
  }
}
