* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 10rem;
}

.main-page{
  display: flex;
}

.main-page-wrapper {
  max-width: 1400px;
  width: 100%;
  max-height: 90%;
  height: 100%;
  padding: 0.2rem;
  border-radius: 20px;
  margin: 0 auto;
}

.message-error {
  position: absolute;
  top: 5%;
  left: 50%;
  width: max-content;
  height: 3rem;
  padding: 0.5rem 1rem;
  border: 3px solid red;
  border-radius: 10px;
  font-size: 24px;
  transform: translate(-50%, -5%);
}

.error-server-message {
  position: absolute;
  top: 20%;
  left: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border: 2px solid red;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: 600;
  background-color: antiquewhite;
  transform: translate(-50%, -20%);
}
