*{
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}
  
.body{
  background-color:beige;
}

.body__wrapper{    
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}
  
.header{
  display: flex;
  justify-content: end;
  padding: 10px;
  padding-right: 30px;
}
  
.header__title{
  color:rgb(121, 74, 74);
  font: italic 500 72px/80px Raleway;
}

.game-board{
  width: 100%;
}

.game-board__wrapper{
  width: 100%;
  height: 80vh;
  position: relative;
  display: flex;
  justify-content: center;
  background-image: url(assets/img/background-game.jpeg);
  background-size: cover;
  background-position: center;
  border: 1px solid rgb(121, 74, 74);
  border-radius: 10px;
  padding: 60px 0;
}

.game-board__container_buttons-level{
  width: 160px;
  height: min-content;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 85px 0;
}

.buttons-level__button{
  width: 165px;
  height: 50px;
  color: rgb(121, 74, 74);
  font: italic 600 18px/20px Roboto;
  background-color: beige;
  border-radius: 20px;
  border: 2px solid rgb(121, 74, 74);
  cursor: pointer;
  z-index: 5;
}

.buttons-level__button:hover{
  font-size: 16px;
}

.buttons-level__list_drop-down{
  position: absolute;
  top: 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 140px;
  height: 0px;
  border-radius: 20px;
  background-color:beige;
  transition: all 0.3s;
}

.list-drop-down_medium{
  top: 33%;
}

.list-drop-down_hard{
  top: 46%;
}

.item_drop-down-hard,
.item_drop-down-medium,
.item_drop-down-easy{
  color: rgb(121, 74, 74);
  text-align: center;
  font: italic 600 0px/0px Roboto;
  cursor: pointer;
}

.button_random-game{
  margin-top: 70px;
}

.game-board__container_playing-field{
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin: 0 100px;
}

.playing-field__title-time-game{
  color: rgb(121, 74, 74);
  font: italic 600 30px/32px Roboto;
}

.playing-field__nonogram{
  font: italic 400 18px/18px Roboto;
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: beige;
  border-radius: 20px;
  border: 2px solid rgb(121, 74, 74);
  padding: 15px;
}

.nonogram__container-coded-image{
  border: 2px solid black;
  border-right: 1px solid black;;
}

.coded-image__line{
  display: flex;
  justify-content: space-between;
  background-color: white;
}

.coded-image__grid{
  border: 1px solid black;
  border-left: 2px solid black;
  border-right: none;
  cursor: pointer;
}

.playing-field__container-left-tooltips{
  display: flex;
  flex-direction: column;
  border: 3px solid black;
  border-right: none;
  border-bottom: none;
}

.left-tooltips__line{
  display: flex;
  align-items: center;
  justify-content: end;
  border-bottom: 2px solid black;
}

.left-tooltips__grid{
  padding-top: 7px;
}

.playing-field__container-top-tooltips{
  display: flex;
  border: 3px solid black;
  border-right: none;
  border-bottom: none;
}

.top-tooltips__line{
  display: flex;
  flex-direction: column-reverse;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.top-tooltips__grid{
  text-align: center;
  padding: 5px;
}

.game-board__container_scores-solution{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 80px 0;
}

.score-solution__link_top-scores{
  color: rgb(121, 74, 74);
  font: italic 600 22px/24px Roboto;
  text-align: center;
  width: 200px;
  background-color: beige;
  padding: 20px;
  border-radius: 20px;
  border: 2px solid rgb(121, 74, 74);
}

.item__top-score{
  width: 155px;
  height: 45px;
  color: rgb(73, 71, 71);
  font: italic 600 18px/18px Roboto;
  line-height: 25px;
  margin-top: 10px;
  text-transform: capitalize;
}

.easy{
  flex-direction: column;
  padding: 120px;
}

.easy .nonogram__container-coded-image{
  width: 175px;
  height: 178px;
  margin-right: 10px;
}

.easy .playing-field__container-left-tooltips{
  text-align: end;
  margin-top: 61px;
}

.easy .playing-field__container-top-tooltips{
  width: 175px;
  margin-right: 10px;
}

.easy .left-tooltips__line{
  height: 35px;
  padding-right: 7px;
}

.easy .left-tooltips__grid,
.easy .top-tooltips__line{
  width: 35px;
}

.easy .coded-image__grid{
  width: 35px;
  height: 35px;
}

.medium{
  flex-direction: column;
  padding: 35px;
}

.medium .playing-field__container-left-tooltips{
  margin-top: 92px;
  margin-left: 15px;
  border-top: 4px solid black;
  border-left: 4px solid black;
  border-bottom: none;
  border-right: 1px solid black;;
}

.medium .playing-field__container-top-tooltips,
.medium .nonogram__container-coded-image{
  margin-right: 15px;
}

.medium .nonogram__container-coded-image{
  border-bottom: 1px solid black;
}
.medium .top-tooltips__line{
  width: 30px;
}

.medium .left-tooltips__line{
  height: 29px;
}

.medium .left-tooltips__grid{
  padding-bottom: 10px;
}
.medium .coded-image__grid,
.medium .top-tooltips__grid,
.medium .left-tooltips__grid{
  text-align: center;
  width: 30px;
  height: 29px;
}

.hard .top-tooltips__line{
  width: 23px;
}

.hard .nonogram__container-coded-image{
  border-left: 2px solid black;
}
.hard .playing-field__container-left-tooltips{
  margin-top: 72px;
  border-bottom: 2px solid black;
}

.hard .playing-field__container-top-tooltips{
  border-left: 3px solid black;
  border-right: 4px solid black;
  width: 348px;
}

.hard .left-tooltips__line{
  height: 23px;
  border-right: -2px;
}

.hard .coded-image__grid,
.hard .top-tooltips__grid,
.hard .left-tooltips__grid{
  font: italic 400 14px/16px Roboto;
  text-align: center;
  width: 23px;
  height: 23px;
}

.list_drop-down-open{
  width: 165px;
  height: 250px;
  padding-top: 58px;
  padding-bottom: 20px;
  border: 2px solid rgb(121, 74, 74);
  z-index: 1;
  transition: all 0.3s;
}

.list-drop-down_hard.list_drop-down-open .item_drop-down-hard,
.list-drop-down_easy.list_drop-down-open .item_drop-down-easy,
.list-drop-down_medium.list_drop-down-open .item_drop-down-medium{
  font-size: 18px;
  line-height: 18px;
}

.list-drop-down_hard.list_drop-down-open .item_drop-down-hard:hover,
.list-drop-down_easy.list_drop-down-open .item_drop-down-easy:hover,
.list-drop-down_medium.list_drop-down-open .item_drop-down-medium:hover{
  color: rgb(121, 74, 74, 0.8);
  font-size: 16px;
  line-height: 16px;
  margin-bottom: 2px;
}

.background-black{
  background-color: black;
  border: 0.5px solid white;
}

.cross-black{
  background-image: url(assets/svg/cross_mr3w4khsljuu.svg);
  background-size:calc(80%);
  background-position: center;
  background-repeat: no-repeat;
}