*{
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}
  
.body{
  background-color:beige;
}

.body__wrapper{    
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}
  
.header{
  display: flex;
  justify-content: end;
  padding: 10px;
  padding-right: 30px;
}
  
.header__title{
  color:rgb(121, 74, 74);
  font: italic 500 72px/80px Raleway;
}

.game-board{
  width: 100%;
}

.game-board__wrapper{
  width: 100%;
  height: 80vh;
  position: relative;
  display: flex;
  justify-content: center;
  background-image: url(assets/img/background-game.jpeg);
  background-size: cover;
  background-position: center;
  border: 1px solid rgb(121, 74, 74);
  border-radius: 10px;
  padding: 60px 0;
}

.game-board__container_buttons-level{
  width: 160px;
  height: min-content;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 85px 0;
}

.buttons-level__button{
  width: 165px;
  height: 50px;
  color: rgb(121, 74, 74);
  font: italic 600 18px/20px Roboto;
  background-color: beige;
  border-radius: 20px;
  border: 2px solid rgb(121, 74, 74);
  cursor: pointer;
  z-index: 5;
}

.buttons-level__button:hover{
  width: 163px;
  height: 48px;
  font-size: 16px;
  margin: 1px;
}

.button_random-game{
  margin-top: 50px;
}

.button_random-game:hover{
  margin-top: 52px;
}

.game-board__container_playing-field{
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin: 0 100px;
}

.playing-field__title-time-game{
  color: rgb(121, 74, 74);
  font: italic 600 30px/32px Roboto;
}

.playing-field__nonogram{
  font: italic 400 18px/18px Roboto;
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: beige;
  border-radius: 20px;
  border: 2px solid rgb(121, 74, 74);
  padding: 15px;
}

.nonogram__container-coded-image{
  border: 2px solid black;
}

.coded-image__line{
  display: flex;
  justify-content: space-between;
  background-color: white;
}

.coded-image__grid{
  border: 1px solid black;
  cursor: pointer;
}

.playing-field__container-left-tooltips{
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  border-right: none;
  border-bottom: 1px solid black;;
}

.left-tooltips__line{
  display: flex;
  align-items: center;
  justify-content: end;
  border-bottom: 1px solid black;
}

.left-tooltips__grid{
  padding-top: 7px;
}

.playing-field__container-top-tooltips{
  display: flex;
  border: 2px solid black;
  border-bottom: none;
}

.top-tooltips__line{
  display: flex;
  flex-direction: column-reverse;
  border-right: 1px solid black;
}

.top-tooltips__grid{
  text-align: center;
  padding: 5px;
}

.game-board__container_scores-solution{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding: 80px 0;
}

.score-solution__link_top-scores{
  color: rgb(121, 74, 74);
  font: italic 600 22px/24px Roboto;
  text-align: center;
  width: 200px;
  height: 40vh;
  background-color: beige;
  padding: 15px;
  border-radius: 20px;
  border: 2px solid rgb(121, 74, 74);
}

.easy{
  flex-direction: column;
  padding: 120px;
}

.easy .nonogram__container-coded-image{
  width: 175px;
  height: 178px;
}

.easy .playing-field__container-left-tooltips{
  text-align: end;
  margin-top: 57px;
  margin-left: 10px;
}

.easy .playing-field__container-top-tooltips{
  width: 175px;
}

.easy .left-tooltips__line{
  height: 35px;
  padding-right: 7px;
}

.easy .left-tooltips__grid,
.easy .top-tooltips__line{
  width: 35px;
}

.easy .coded-image__grid{
  width: 35px;
  height: 35px;
}

.medium{
  flex-direction: column;
  padding: 35px;
}

.medium .playing-field__container-left-tooltips{
  margin-top: 90px;
  margin-left: 15px;
}

.medium .playing-field__container-top-tooltips,
.medium .nonogram__container-coded-image{
  margin-right: 15px;
}

.medium .top-tooltips__line{
  width: 30px;
}

.medium .left-tooltips__line{
  height: 30px;
}

.medium .coded-image__grid,
.medium .top-tooltips__grid,
.medium .left-tooltips__grid{
  text-align: center;
  width: 30px;
  height: 30px;
}

.hard .top-tooltips__line{
  width: 23px;
}

.hard .playing-field__container-left-tooltips{
  margin-top: 72px;
}

.hard .left-tooltips__line{
  height: 23px;
}

.hard .coded-image__grid,
.hard .top-tooltips__grid,
.hard .left-tooltips__grid{
  font: italic 400 14px/16px Roboto;
  text-align: center;
  width: 23px;
  height: 23px;
}

.background-black{
  background-color: black;
  border: 0.5px solid white;
}

.cross-black{
  background-image: url(assets/svg/cross_mr3w4khsljuu.svg);
  background-size:calc(80%);
  background-position: center;
  background-repeat: no-repeat;
}