*{
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}
  
.body{
  background-color:beige;
}

.body__wrapper{    
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}
  
.header{
  display: flex;
  justify-content: end;
  padding: 10px;
  padding-right: 30px;
}
  
.header__title{
  color:rgb(121, 74, 74);
  font: italic 500 72px/80px Raleway;
}

.game-board{
  width: 100%;
}

.game-board__wrapper{
  width: 100%;
  height: 80vh;
  position: relative;
  display: flex;
  justify-content: center;
  background-image: url(assets/img/background-game.jpeg);
  background-size: cover;
  background-position: center;
  border: 1px solid rgb(121, 74, 74);
  border-radius: 10px;
  padding: 60px 0;
}

.game-board__container_buttons-level{
  width: 160px;
  height: min-content;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 85px 0;
}

.buttons-level__button{
  width: 165px;
  height: 50px;
  color: rgb(121, 74, 74);
  font: italic 600 18px/20px Roboto;
  background-color: beige;
  border-radius: 20px;
  border: 2px solid rgb(121, 74, 74);
  cursor: pointer;
  z-index: 5;
}

.buttons-level__button:hover{
  width: 163px;
  height: 48px;
  font-size: 16px;
  margin: 1px;
}

.button_random-game{
  margin-top: 50px;
}

.button_random-game:hover{
  margin-top: 52px;
}

.game-board__container_playing-field{
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin: 0 100px;
}

.playing-field__title-time-game{
  color: rgb(121, 74, 74);
  font: italic 600 30px/32px Roboto;
}

.playing-field__nonogram{
  width: 100%;
  height: 500px;
  background-color: beige;
  border-radius: 20px;
  border: 2px solid rgb(121, 74, 74);
}

.game-board__container_scores-solution{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding: 80px 0;
}

.score-solution__link_top-scores{
  color: rgb(121, 74, 74);
  font: italic 600 22px/24px Roboto;
  text-align: center;
  width: 200px;
  height: 40vh;
  background-color: beige;
  padding: 15px;
  border-radius: 20px;
  border: 2px solid rgb(121, 74, 74);
}