* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(17, 17, 17);
}

.header {
  padding: 1.5rem 2rem 0rem 2rem;
}

.container__page {
  width: 100%;
  height: auto;
  padding: 2rem;
}

.button {
  position: relative;
  max-width: 7.3rem;
  width: 100%;
  height: 1.9rem;
  border-radius: 10px;
  border: 2px solid rgb(146, 148, 248);
  background-color: rgb(25, 25, 51);
  color: white;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

.button:hover {
  box-shadow: 1px 1px 25px 10px rgba(146, 148, 248, 0.4);
}

.button:before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(120deg, transparent, rgba(146, 148, 248, 0.4), transparent);
  transition: all 650ms;
}

.button:hover:before {
  left: 100%;
}

.button:active {
  max-width: 7.2rem;
  height: 1.8rem;
  margin-right: 1.1rem;
}

.button_page-garage {
  margin-right: 1rem;
}

.container__inputs-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  max-width: 28rem;
  width: 100%;
  margin-bottom: 3.5rem;
}

.input {
  max-width: 15.5rem;
  width: 100%;
  height: 1.6rem;
  padding: 0.3rem;
  border-radius: 5px;
  border: 1px solid gray;
  font-size: medium;
  font-weight: 400;
  outline: none;
}

.button_create-car,
.button_update-car,
.button__generate-cars {
  max-width: 6.4rem;
  border: 2px solid rgb(136, 245, 163);
  background-color: rgb(4, 80, 29);
}

.button_create-car:hover,
.button_update-car:hover,
.button__generate-cars:hover {
  box-shadow: 1px 1px 25px 10px rgba(136, 245, 163, 0.4);
}

.button_create-car::before,
.button_update-car::before,
.button__generate-cars::before {
  background: linear-gradient(120deg, transparent, rgba(136, 245, 163, 0.4), transparent);
}

.button_create-car:active,
.button_update-car:active {
  max-width: 6.2rem;
  margin-bottom: 0.1rem;
}

.button_reset:active,
.button_race:active {
  margin-right: 0.1rem;
}

.button__generate-cars {
  max-width: 10.4rem;
}

.button__generate-cars:active {
  max-width: 10.3rem;
}

.input_create-color,
.input_update-color {
  cursor: pointer;
}

.title__page{
  color: white;
  font: normal 600 30px/32px Arial;
  margin-top: 1rem;
}

.text__paging{
  color: white;
  font: normal 600 24px/26px Arial;
  margin-top: 1rem;
}

.no-visible{
  visibility: hidden;
  display: none;
}
