.footer-main-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  font-size: 28px;
  font-weight: 600;
  border: 3px solid black;
  border-radius: 10px;
  background-image: url(/src/assets/backgroundBody.jpg);
  background-repeat: no-repeat;
  background-position: bottom -370px left;
}

.logo-school-footer {
  width: 6rem;
  height: 2.5rem;
  background-image: url(/src/assets/LogoSchoolТ.png);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.year-footer{
  font-size: 32px;
  font-weight: 600px;
}

.logo-git-footer{
  width: 2.5rem;
  height: 2.5rem;
  background-image: url(/src/assets/GitHubLogo.png);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

