*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.game__wrapper{
  max-width: 1440px;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  padding: 30px;
  background-image: url(assets/background-game.jpeg);
}

.game__title{
  width: 100%;
  text-align: right;
  color: white;
  font: normal 700 68px/80px Playfair Display;
}

.game__img-container{
  max-width: 460px;
  width: 100%;
  height: 70vh;
  position: relative;
}

.game__img-gallows{
  position: absolute;
  width: 100%;
  height: 70vh;
  padding-left: 20px;
  z-index: 2;
}

.game__img-loop{
  position: absolute;
  top: 9.6%;
  right: 16.5%;
  width: 100px;
  height: 200px;
  z-index: 1;
}

.game__quiz-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 45px;
  flex-grow: 2;
  padding-left: 15px;
}

.quiz__cipher-word{
  color: greenyellow;
  font: normal 700 120px/120px Playfair Display;
  padding: 10px;
}

.quiz__question{
  color:beige;
  font: normal 700 42px/46px Playfair Display;
}

.quiz__guesses{
  color:rgb(250, 1, 1);
  font: normal 700 30px/32px Playfair Display;
}